<section id="newListForm">
  <div class="container flex-center">
    <%= simple_form_for @list, html: {class: "form-inline"} do |f| %>
      <%= f.input :list_id, collection: @lists_wunderlist, value_method: :id, label_method: :title, prompt: "Choose a list" %>
      <%= f.submit "Share", class: "btn btn-primary" %>
    <% end %>
  </div>
</section>

<section id="lists">
  <% if @lists.any? %>
    <div class="container">
      <h1>Shared lists</h1>
      <ol class="lists">
        <% @lists.each do |list| %>
          <li class="list">
            <div class="list-left-body">
              <span><%= list.title %></span>
              <div class="list-link">
                <span>Link: </span><code><%= list.short_link %></code>
              </div>
            </div>
            <div class="list-right-body">
              <%= link_to "Disable", list_path(list), method: :delete, class: "btn" %>
            </div>
          </li>
        <% end %>
      </ol>
    </div>
  <% else %>
    <div class="paragraph-center">
      <article class="text-center">
        <p class="annotation">No shared list yet.</p>
      </article>
    </div>
  <% end %>

</section>


