<div id="sharedListContainer">
  <header id="sharedListHead">
    <h1><%= @list.title %></h1>
  </header>

  <section id="sharedListContent">
    <ol>
      <%# @tasks.each do |task| %>
        <!-- <li><%# task.title %></li> -->
      <%# end %>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
            <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
            <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
            <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
            <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
            <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
      <li class="task">
        <%= link_to "This is super cool", '#', class: "task-link" %>
      </li>
    </ol>
  </section>
  <!-- <aside id="itemContent"></aside> -->
</div>


