<div id="sharedListContainer">
  <header id="sharedListHead">
    <div class="shared-list-title-body">
      <h1><%= @list.title %></h1>
      <span class="author">by <%= @list.user.name %></span>
    </div>
  </header>

  <section id="sharedListContent">
    <ol>
      <% @tasks.each do |task| %>
        <li class="task"><span class="task-body">
        <%= raw Rinku.auto_link(task.title, :all, 'target="_blank"') %>
        </span> </li>
      <% end %>
    </ol>
  </section>
</div>

<% content_for(:title_tag) do %>
  <%= @list.title %> by <%= @list.user.name %> | MNMLIST
<% end %>

