<div id="sharedListContainer">
  <header id="sharedListHead">
    <div class="shared-list-title-body">
      <h1><%= @list.title %></h1>
      <span class="author">by <%= @list.user.name %></span>
    </div>
  </header>

  <section id="sharedListContent">
    <ol>
      <% @tasks.each do |task| %>
        <li class="task"><%= link_to task.title, '#', class:"task-body" %></li>
      <% end %>
    </ol>
  </section>
  <!-- <aside id="itemContent"></aside> -->
</div>

<% content_for(:title_tag) do %>
  <%= @list.title %> by <%= @list.user.name %> | MNMLIST
<% end %>

